<div id="home-expose" ng-controller="SliderController">
    <carousel interval="8000">
        <slide ng-repeat="slide in slides" id="{{slide.slideId}}" active="slide.active" style="background: {{slide.bgColor}}; height: 350px;">
            <img class="slide-bg" style="margin:auto; height: 350px; display: none;"/>
            <img ng-if="slide.bgImageUrl" class="slide-loader rotating" src="img/loaders/loader.png" />
            <div class="carousel-caption {{slide.bgImageUrl ? 'subdued' : ''}}" style="color: {{slide.fontColor ? slide.fontColor : '#fff'}}">
                <h4>{{slide.title}}</h4>
                <p>{{slide.subtitle}}</p>
            </div>
        </slide>
    </carousel>
</div>
<div id="home-content" class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4 featurette">
            <h2>We Love Computing.</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <a class="btn btn-default" href="#" role="button">Read More »</a>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 featurette">
            <h2>We Are a Community.</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <a class="btn btn-default" href="#" role="button">Read More »</a>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 featurette">
            <h2>We Strive To Innovate.</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <a class="btn btn-default" href="#" role="button">Read More »</a>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Temple University ACM, Student Chapter · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>

</div>