<div id="home-expose" ng-controller="SliderController">
    <carousel interval="100000">
        <slide ng-repeat="slide in slides" id="{{slide.slideId}}" active="slide.active" style="overflow: hidden; background: {{slide.bgColor}}; height: 350px;" ng-click="gotoLink(slide.link)" class="{{slide.link ? 'linked' : ''}}">
            <img class="slide-bg" style="width: 100%; min-height: 100%; display: none;"/>
            <img ng-if="slide.bgImageUrl" class="slide-loader rotating" src="static/img/loaders/loader.png" />
            <div class="carousel-caption {{slide.bgImageUrl ? 'subdued' : ''}}" style="color: {{slide.fontColor ? slide.fontColor : '#fff'}}">
                <h4 class="{{(slide.lowContrast) ? 'sharp' : ''}}">{{slide.title}}</h4>
                <p class="{{(slide.lowContrast) ? 'sharp' : ''}}">{{slide.subtitle}}</p>
                <!-- Code to help us track DOM loading -->
                {{onSlideLoaded(slides.length)}}
            </div>
        </slide>
    </carousel>
</div>
<div id="home-content" class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4 featurette">
            <h2>We Love Computing.</h2>
            <div class="separator"></div>
            <p>Temple ACM is dedicated to expanding the academic and professional knowledge of computing across campus. We are also dedicated to helping our students and faculty to cooperate and grow together. Our entire organization is fueled by its collective passion for the boundless possibilities of emerging technology and the creativity it inspires. The world of computing invokes a different perspective on the world and sparks the imagination of its students. We are proud to be evangelists of our craft, and hope to create some incredible technologists.</p>
            <a class="btn btn-default" href="#" role="button" ng-click="comingSoon()">Read More »</a>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 featurette">
            <h2>We Are a Community.</h2>
            <div class="separator"></div>
            <p>Temple ACM welcomes people of all majors and creeds to meetings to encourages exploration and discussion of a wide variety of computing-related ideas. We also contend to connect students not only with a vast network of companies, but also to the ever-growing community of their peers. As students, we have a unique opportunity to explore that is rare later in life, and we believe that attending events like hack-a-thons and conferences as a group encourages growth of programming know-how and camraderie.</p>
            <a class="btn btn-default" href="#" role="button" ng-click="comingSoon()">Read More »</a>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 featurette">
            <h2>We Strive To Innovate.</h2>
            <div class="separator"></div>
            <p>Temple ACM is dedicated to the idea that innovation is the key driver of technology. That technology is a key piece of our everyday lives is already evident, but pushing technology forward is all about figuring out improvements to the human experience and pursuing them. We try to emphasize the value of brainstorming at meetings and have a great culture around communal support for ideas within the group, but understand that as the next generation of developers we must be the harbringers of the next generation of ideas - for better of for worse.</p>
            <a class="btn btn-default" href="#" role="button" ng-click="comingSoon()">Read More »</a>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <div class="separator"></div>
    <!-- The companies we talk to -->
    <div class="row">
        <div class="col-lg-6 featurette">
            <h2>We Value Our Local Businesses.</h2>
            <p>Temple ACM maintains active and storied connections to businesses in our vicinity, especially from Philadelphia. We think that, as computing students, we have a responsibility to help our homegrown businesses flourish with internships and open source efforts. As a result, we like to have local businesses bring representatives to talk to our delegation. This creates an interest in students and an opportunity for businesses to acquire fresh talent.</p>
            <div class="pictures">
                <!-- Local Businesses we have relationships with -->
                <a href="http://jpmorgan.com"><img class="picture" src="/static/img/companies/jpmorgan.png" /></a>
                <a href="https://investor.vanguard.com/corporate-portal"><img class="picture" src="/static/img/companies/vanguard.png" /></a>
                <a href="http://monetate.com"><img class="picture" src="/static/img/companies/monetate.png" /></a>
                <a href="http://www.seic.com/enUS/index.htm"><img class="picture" src="/static/img/companies/sei.png" /></a>
                <a href="http://www.seic.com/enUS/index.htm"><img class="picture square" src="/static/img/companies/qvc.png" /></a>
                <a href="http://www.protiviti.com/"><img class="picture" src="/static/img/companies/protiviti.png" /></a>
                <a href="http://www.deloitte.com/"><img class="picture" src="/static/img/companies/deloitte.png" /></a>
            </div>
            <a class="btn btn-default" href="#" role="button" ng-click="comingSoon()">Read More »</a>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6 featurette">
            <h2>We Believe In Open Source.</h2>
            <p>Temple ACM is dedicated to the open source movement and the technology thereof. We think that socializing the software process is a beautiful. So, naturally, we have a github organization where we try collaborate on new projects as a club. We think organizations like the <a href=”https://www.eclipse.org/org/foundation/”>Eclipse Foundation</a> and <a href=”http://www.apache.org/”>Apache Software Foundation</a> represent an incredible vista for our industry’s future, and, appropriately, we try to employ open source tools and platforms whenever possible.</p>
            <div class="pictures">
                <!-- Open Source stuff we dig -->
                <a href="http://nodejs.org"><img class="picture" src="/static/img/other/nodejs.png" /></a>
                <a href="http://python.org"><img class="picture" src="/static/img/other/python.png" /></a>
                <a href="http://www.ruby-lang.org"><img class="picture" src="/static/img/other/ruby.png" /></a>
                <a href="http://golang.org"><img class="picture" src="/static/img/other/gopher.png" /></a>
                <a href="http://dartlang.org"><img class="picture" src="/static/img/other/dart.png" /></a>
                <a href="http://mongodb.org"><img class="picture" src="/static/img/other/mongodb.png" /></a>
                <a href="http://java.org"><img class="picture square" src="/static/img/other/java.png" /></a>
                <a href="https://github.com/temple-acm"><img class="picture" src="/static/img/other/github.png" /></a>
                <a href="http://firefox.org"><img class="picture" src="/static/img/other/firefox.png" /></a>
            </div>
            <a class="btn btn-default" href="#" role="button" ng-click="comingSoon()">Read More »</a>
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <div class="separator"></div>
    <!-- FOOTER -->
    <footer>
        <p class="pull-right">Powered by <a href="http://nodejs.org">Node.js</a></p>
        <p>&copy; 2014 Temple University ACM, Student Chapter · <a href="">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
</div>