<div id="register-form" ng-controller="RegisterFormController" class="container">
    <form role="form">
        <div class="form-group">
            <div class="col-md-12">
                <h2>Basic Information</h2>
                <div class="separator"></div>
            </div>
            <div class="col-md-4">
                <label for="firstNameText">First Name</label>
                <input type="text" class="form-control" id="firstNameText" placeholder="e.g. John">
            </div>
            <div class="col-md-4">
                <label for="lastNameText">Last Name</label>
                <input type="text" class="form-control" id="lastNameText" placeholder="e.g. Smith">
            </div>
            <div class="col-md-4">
                <label for="emailText">Temple Email Address</label>
                <input type="email" class="form-control" id="emailText" placeholder="e.g. jsmith@temple.edu">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <h2>About You</h2>
                <div class="separator"></div>
            </div>
            <div class="col-md-4">
                <label for="gitHubText">Github Id</label>
                <input type="text" class="form-control" id="gitHubText" placeholder="e.g. jsmith">
            </div>
            <div class="col-md-4">
                <label for="twitterText">Twitter Handle</label>
                <input type="text" class="form-control" id="twitterText" placeholder="e.g. @somebody">
            </div>
            <div class="col-md-4">
                <label for="facebookText">Facebook Profile Url</label>
                <input type="url" class="form-control" id="facebookText" placeholder="e.g. https://www.facebook.com/john">
            </div>
            <div class="col-md-8">
                <label for="bioText">Who are you?</label>
                <textarea class="form-control" rows="5" id="bioText" placeholder="Drop a few lines here about who you are, and what you love about computing."></textarea>
            </div>
            <div class="col-md-4">
                <label for="majorSelect">Temple University Major</label>
                <select class="form-control" id="majorSelect">
                    <option>Information Science &amp; Technology</option>
                    <option>Computer Science</option>
                    <option>Computer Science &amp; Mathematics</option>
                    <option>Management of Information Systems</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="studentLevelSelect">Student Level</label>
                <select class="form-control" id="studentLevelSelect">
                    <option>Freshman</option>
                    <option>Sophomore</option>
                    <option>Junior</option>
                    <option>Senior</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <h2>Credentials</h2>
                <div class="separator"></div>
            </div>
            <div class="col-md-4">
                <label for="userIdText">Your New User Id</label>
                <input type="text" class="form-control" id="userIdText" placeholder="Choose a User Id">
            </div>
            <div class="col-md-4">
                <label for="passwordText">Password</label>
                <input type="password" class="form-control" id="passwordText" placeholder="Password">
            </div>
            <div class="col-md-4">
                <label for="confirmPasswordText">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPasswordText" placeholder="Password confirmation">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <h2>Resume</h2>
                <div class="separator"></div>
            </div>
            <div class="col-md-12">
                <label class="upload-label" for="fileUpload">Resume File Upload</label>
                <input class="upload-button" type="file" id="fileUpload">
                <p class="upload-label help-block">We need your resume to help us determine what companies to present at meetings.</br>It really helps us understand your strengths and weaknesses.</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="separator"></div>
            </div>
            <div class="col-md-12" style="float: left; text-align: center;">
                <button type="submit" class="btn btn-success btn-submit">Continue Registration</button>
            </div>
        </div>
    </form>
</div>