<div class="sidebar-inner" data-ng-controller="SidebarController">
    <div class="sidebar-item current">
        <div id="sidebar-icon-home" class="sidebar-icon"></div>
        <div class="sidebar-title">Home</div>
    </div>
    <div class="sidebar-item">
        <div id="sidebar-icon-about" class="sidebar-icon"></div>
        <div class="sidebar-title">About Us</div>
    </div>
    <div class="sidebar-item">
        <div id="sidebar-icon-calendar" class="sidebar-icon"></div>
        <div class="sidebar-title">Schedule</div>
    </div>
    <div class="sidebar-item">
        <div id="sidebar-icon-blog" class="sidebar-icon"></div>
        <div class="sidebar-title">Blog</div>
    </div>
    <div class="sidebar-item">
        <div id="sidebar-icon-contact" class="sidebar-icon"></div>
        <div class="sidebar-title">Contact Us</div>
    </div>
</div>