<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Temple University chapter of the Association for Computing Machinery (ACM).">
        <meta name="author" content="Sandile Keswa, Steven Heyen, Sri Ramanujam">
        <meta name="keywords" content="temple, acm, computer, science, college, university">
        <meta name="google-site-verification" content="3mIsIqcgZPWJfrfi4xcz80O9nvcrmnKwukKmGYe-37Y" />

        <title>Temple ACM | Reset Password</title>
        <!-- Custom CSS -->
        <link href="/static/dist/main{{.css}}" rel="stylesheet">
        <!-- Custom Fonts: Roboto (for text), Montserrat (for headings) -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body style="background: #e0e8ea;" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-ng-controller="ResetPasswordCtrl">
        <div class="container">
            <!-- Navigation -->
            <nav class="navbar navbar-custom navbar-fixed-top ng-scope top-nav-collapse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll">Temple ACM</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <!-- Content -->
            <div id="reset-password" style="display: block; width: 100%;">
                <h1>Reset Password</h1>
                <p class="description">Enter the credentials you made during registration in the fields below. Ask for help in our <a href="https://tuacm.slack.com/signup/">slack channel</a> if you did not register through our website.</p>
                <form role="form" id="reset-password-form" name="resetpass" novalidate>
                    <div class="row" style="padding: 0px 15px;">
                        <div class="col-md-6">
                            <label for="password-text" style="margin-bottom: 10px;">New Password<span class="red-asterisk">*</span></label>
                            <p class="upload-label help-block" style="margin-top: 0px; margin-bottom: 10px;">All passwords must be <span style="font-weight: bold;">at least 8 characters</span> long with at least <span style="font-weight: bold;">one uppercase</span> letter, <span style="font-weight: bold;">one lowercase</span> letter and <span style="font-weight: bold;">one numeric digit</span>.</p>
                            <input type="password" class="form-control flat-bottomed" name="password" id="password-text" ng-model="user.password" ng-text-change="onPasswordChanged()" placeholder="Password" required>
                            <span class="indicator" id="password-indicator">No password provided.</span>
                        </div>
                        <div class="col-md-6">
                            <label for="confirm-password-text" style="margin-bottom: 10px;">Confirm New Password<span class="red-asterisk">*</span></label>
                            <p class="upload-label help-block" style="margin-top: 0px; margin-bottom: 10px;">Password confirmation must match the value of the password field. Pretty standard stuff really.</p>
                            <input type="password" class="form-control" id="confirm-password-text" placeholder="Password confirmation" ng-text-change="onPasswordChanged()" required>
                        </div>
                        <div class="col-md-12">
                            <div class="alert alert-warning" ng-if="invalidForm" style="text-align: center; font-size: 14px; margin-top: 30px; margin-bottom: 0px;" role="alert"><span style="font-weight: bold;">Oops.</span> Make sure the passwords are valid before submitting the form.</div>
                            <div class="alert alert-danger" ng-if="resetFailed" style="text-align: center; font-size: 14px; margin-top: 30px; margin-bottom: 0px;" role="alert"><span style="font-weight: bold;">Oh snap!</span> The&nbsp;form&nbsp;submission&nbsp;was&nbsp;us&nbsp;not&nbsp;successful! Please&nbsp;try&nbsp;again.</div>
                            <button ng-click="submit(user)" class="btn btn-submit col-xs-12">Submit Password Reset</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- jQuery Version 1.11.0 -->
            <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
            <!-- Angular 1.2.0 -->
            <script src="/static/vendor/angular/angular.min.js"></script>
            <!-- Google Analytics -->
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-54600601-1', 'auto');
                ga('send', 'pageview');
            </script>
            <!-- Application JS -->
            <script src="/static/dist/main{{.js}}"></script>
        </div>
    </body>
</html>
