section.content #home-expose {
    background: url(/../../img/bg-slider.png) repeat;
    border-bottom: 1px solid #f0f0f0;
}
section.content #home-expose .carousel-control {
    padding-top: 120px;
    font-size: 60px;
    cursor: pointer;
}
section.content #home-expose .carousel-inner {
    height: 350px;
}
section.content #home-expose .carousel-caption {
    text-align: left;
    margin-bottom: 70px;
    z-index: 100;
}
section.content #home-expose .slide-loader {
    position: absolute;
    top: 175px;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    width: 32px;
    height: 32px;
}
section.content #home-expose .slide-bg {
    opacity: 0.9;
}
section.content #home-expose ol.carousel-indicators {
    width: auto;
    padding: 5px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.5);
    margin-left: 0px;
}
section.content #home-expose .carousel-caption h4 {
    font-size: 32px;
    font-family: "Open Sans", sans-serif;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    filter: dropshadow(color=#000000, offx=0, offy=0);

    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
}
section.content #home-expose .carousel-caption p {
    font-family: "Open Sans", sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 40px;
    font-size: 14px;
}
section.content #home-expose ol.carousel-indicators {
    bottom: 10px;
    z-index: 201;
}
section.content #home-expose ol.carousel-indicators li {
    background: #fff;
    opacity: 0.4;
    margin: 1px 4px;
}
section.content #home-expose ol.carousel-indicators li.active {
    opacity: 1.0;
    margin: 0px 4px;
}
section.content #home-expose {
    margin-bottom: 30px;
}

section.content .featurette-divider {
    margin: 80px 0;
    border-top: 1px solid #ddd;
}

/* Content Area
-------------------------------------------------- */
section.content #home-content footer {
    padding-top: 15px;
    color: #888;
  text-shadow: 1px 1px 1px #fff;
}
section.content #home-content footer p {
    margin: 0 0 30px;
}

/* Pad the edges of the mobile views a bit */
section.content #home-content {
  padding-left: 15px;
  padding-right: 15px;
}

section.content #home-content .featurette .btn {
    width: 100%;
    border-radius: 0px;
    margin-top: 10px;
}

/* Center align the text within the three columns below the carousel */
section.content #home-content .featurette {
  margin-bottom: 20px;
}
section.content #home-content .featurette h2 {
  margin-top: 0px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
section.content #home-content h2 {
  font-weight: normal;
  text-shadow: -1px -1px 1px #efefef;
}
section.content #home-content .featurette p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  text-align: justify;
  text-shadow: -1px -1px 1px #efefef;
  color: #444;
}
section.content #home-content .featurette .btn {
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s; /* Safari */
}
section.content #home-content .featurette .btn:hover {
  background: #428bca;
  border-color: #357ebd;
  color: #fefefe;
}
section.content #home-content .featurette .btn:active {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3) inset;
}
section.content #home-content .featurette .pictures {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  display: block;
  width: 100%;
  height: auto;
}
section.content #home-content .featurette .pictures a {
  display: inline-block;
}
section.content #home-content .featurette .pictures .picture {
  height: 60px;
  margin: 5px; 
}
section.content #home-content .featurette .pictures .picture.square {
  height: 100px;
}
@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
}

/* Bump up size of carousel content */
.carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
}
