section.content #home-expose .carousel-control {
    padding-top: 120px;
    font-size: 60px;
    cursor: pointer;
}
section.content #home-expose .carousel-inner {
    height: 350px;
}
section.content #home-expose .carousel-caption {
    text-align: left;
    padding-bottom: 110px;
}
section.content #home-expose .carousel-caption h4 {
    font-size: 32px;
    font-family: "Open Sans", sans-serif;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    filter: dropshadow(color=#000000, offx=0, offy=0);
}
section.content #home-expose .carousel-caption p {
    font-family: "Open Sans", sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 40px;
}
section.content #home-expose ol.carousel-indicators li {
    background: #fff;
    opacity: 0.4;
    margin: 1px 4px;
}
section.content #home-expose ol.carousel-indicators li.active {
    opacity: 1.0;
    margin: 0px 4px;
}