section.content #register-header {
  text-align: center;
}
section.content #register-header h3 {
  margin-top: 40px;
  font-size: 36px;
  font-family: 'Roboto Condensed', sans-serif; 
}
section.content #register-header p {
  text-align: justify;
  margin-top: 15px;
  padding: 0 15px;
  text-shadow: -1px -1px 1px #efefef;
  color: #444;
}
section.content #register-header div.separator {
  margin-bottom: 10px;
  margin-top: 10px;
}
section.content #register-form .form-group div {
  margin-top: 10px;
}
section.content #register-form .form-group span.red-asterisk {
  color: red;
  padding-left: 3px;
}
section.content #register-form div.separator {
  float: left;
  margin-top: 0px;
  margin-bottom: 15px;
}
section.content #register-form form .ng-invalid {
  border-color: #a94442;
}
section.content #register-form form .ng-invalid:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 68, 66, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 68, 66, 0.6);
}
section.content #register-form .upload-label {
  float: left;
  display: inline-block;
}
section.content #register-form .upload-button {
  float: left;
  display: inline-block;
  width: 100%;
}
section.content #register-form .upload-drop-preview {
  float: left;
  display: block;
  font-style: italic;
  color: #4cae4c;
}
section.content #register-form .upload-label {
  width: 100%;
}
section.content #register-form .upload-drop {
  float: left;
  display: inline-block;
  width: 100%;
  border: 1px solid #cccccc;
  padding: 30px 15px;
  background: #efefef;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-color: #a94442;
  color: #666;
}
section.content #register-form .upload-drop.on-drag {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}
section.content #register-form .upload-drop.dropped {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  font-weight: normal;
}
section.content #register-form .upload-drop.wrong {
  color: #ffffff;
  background-color: #a21e32;
  border-color: #a94442;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  font-weight: normal;
}
section.content #register-form h2 {
  margin-top: 15px;
  float: left;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif; 
}
section.content #register-form span.indicator {
  width: 100%;
  text-align: center;
  display: inline-block;
  background: #a21e32;
  border-radius: 0px 0px 4px 4px;
  color: #fff;  
  text-transform: uppercase;
  font-size: 12px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
  overflow: hidden;
}
section.content #register-form span.indicator.good {
  background: #5cb85c;
}
section.content #register-form .btn-submit {
  text-transform: uppercase;
  border-radius: 0px;
  font-size: 12px;
  padding: 10px 20px;
  margin-bottom: 30px;
  outline: none;
}
section.content #register-modal .modal-content {
  width: 500px;
}
section.content #register-modal .modal-dialog {
  padding: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-right: 0px;
  margin-top: -100px;
  margin-bottom: 0px;
}
section.content #register-form .form-control.flat-bottomed {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

/*************************************************************************************************/

section.content #register-modal .modal-content {
  width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -225px;
  margin-top: -75px;
  border-radius: 0px;
  color: white;
  background: #ae0000;
}
section.content #register-modal .modal-header {
  padding: 10px 15px;
  border-bottom-width: 0px;
}
section.content #register-modal .modal-header h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 26px;
  padding-bottom: 5px;
}
section.content #register-modal .separator {
  border-top: 1px solid #960000;
  border-bottom: 1px solid #c14242;
  margin: 0px;
}
section.content #register-modal .modal-body {
    padding: 5px 20px 10px 20px;
}
section.content #register-modal .modal-header .close {
    margin-top: 8px;
    margin-right: 4px;
}
section.content #register-modal .modal-footer-custom {
  margin: 0px;
  padding: 0px 15px 15px 15px;
  text-align: center;
  border-top-width: 0px;
}
section.content #register-modal .modal-footer-custom .btn {
  margin-top: 15px;
  text-transform: uppercase;
  border-radius: 0px;
  font-size: 12px;
  padding: 10px 20px;
  outline: none;
  background: #444;
  color: #fff;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}
section.content #register-modal .modal-footer-custom .btn:hover {
  background: #333;
}
section.content #register-modal .modal-footer-custom .btn:active {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4) inset;
}