<section id="slidesAdmin" data-ng-controller="SlideAdminCtrl">
    <div style="width: 100%; display: block;" ng-hide="slidesLoaded">
        <div style="display: block; width: 100%; text-align: center;">
            <i class="fa fa-spin fa-cog" style="font-size: 100px; color: #ffffff;"></i>
        </div>
    </div>
    <div style="width: 100%; display: block;" ng-show="slidesLoaded">
        <div class="slide-ad col-sm-3 col-xs-12">
            <div class="slide-ad-card">
                <div style="display: table; height: 100%; width: 50%; margin-left: auto; margin-right: auto;">
                    <div style="display: table-cell; vertical-align: middle;">
                        <h1>Add A Slide</h1>
                        <a class="btn btn-default btn-lg" ng-click="addSlide()">
                            <span class="glyphicon glyphicon-plus" style="font-size: 250px"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-cardholder col-sm-3 col-xs-12" ng-repeat="slide in slideData">
            <div class="slide-card">
                <h5>Slide {{slide.order}}</h5>
                <div class="slide-image-container">
                    <img class="slide-image" ng-src={{slide.image}} />
                </div>
                <div class="label">Image url:</div>
                <input class="form-control" placeholder="{{slide.image}}" ng-model="slide.image"></input>
                <div class="label">HTML:</div>
                <textarea readonly class="form-control" ng-click="initializeEditor(slide)">{{slide.html}}</textarea>
                <div class="button red" ng-click="removeSlide(slide._id)">Remove Slide</div>
                <div class="button blue" ng-click="saveSlide(slide._id)">Save Changes</div>
            </div>
        </div>
    </div>
</section>

<overlay ng-controller="SlideEditorCtrl" id="slide-editor-overlay">
    <div id="slide-editor">
        <div id="editor" class="empty">
        </div>

        <div class="btn" ng-click="saveEditorChanges()">Save Changes</div>
    </div>
</overlay>