<view ng-controller="ForgotPasswordCtrl">
    <div style="display: block; width: 100%;" data-ng-switch="submitted">
        <div style="display: block; width: 100%;" ng-switch-default>
            <h1>Forgot Password</h1>
            <p class="description">Forgot your password? No problem. Put either your user name or your email below and we'll see what we can do.<br>All you have to fill out <span style="color: #9e1b34; font-weight: bold;">either your user name or your password</span>.</p>
            <form role="form" id="forgot-pass-form" name="forgotpass" novalidate>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="userNameText">User Name</label>
                        <input type="text" class="form-control" name="userName" id="userNameText" ng-model="data.userName" placeholder="e.g. jsmith" required>
                    </div>
                    <div class="col-md-6">
                        <label for="emailText">Email Address</label>
                        <input type="email" class="form-control" name="email" id="emailText" ng-model="data.email" placeholder="e.g. jsmith@temple.edu" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" style="float: left; text-align: center; margin-top: 15px;">
                        <div class="alert alert-danger" ng-if="submissionError" style="text-align: center; font-size: 14px; margin-top: 0px;" role="alert"><span style="font-weight: bold;">Oh snap!</span> There was problem sending a password reset! Please try again.</div>
                        <div class="alert alert-warning" ng-if="incompleteForm" style="text-align: center; font-size: 14px; margin-top: 0px;" role="alert"><span style="font-weight: bold;">Oops.</span> Make sure you finish filling out at least one of the fields before continuing.</div>
                        <button ng-click="submit(data)" class="btn btn-reset-password col-md-12">Reset Password</button>
                    </div>
                </div>
            </form>
        </div>
        <div style="display: block; width: 100%;" ng-switch-when="true">
            <div style="display: block; width: 100%; text-align: center;">
                <i class="fa fa-spin fa-cog" style="font-size: 200px; color: #9e1b34;"></i>
            </div>
            <h1 style="padding: 0px; text-align: center;">Sending a Confirmation...</h1>
            <p style="font-size: 16px; text-align: center;">Don't despair. You will soon be reunited with your precious Temple ACM account. Your salvation is headed to your inbox as we speak. Adieu.</p>
        </div>
    </div>
</view>
