.overlay {
	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.4);
	opacity: 0;
	transition: opacity 0.5s;

	.cardholder {
		position: absolute;
		padding-top: 15%;
		top: 0px;
		bottom: 0px;
		left: 50%;
		width: 80%;
		bottom: 0px;

		.card {
			display: block;
			margin: 64px 120px 60px 5px;
			background-color: #fff;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
			border-radius: 2px;
			overflow: hidden;
		}
	}
}