// Variables
// Font
@heading-font: 'Montserrat', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
@generic-font: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
// Colors
@primary: #219ab3;
@dark: #9e1b34;
@greenish: #1b9e85;
@light: #ffffff;
// Dimension
@mobileWidth: 873px;
@screen-sm: 873px;
@page-z: 1;
@overlay-z: 1000;
@floating-header-z: 2000;
