%div.snes
	%div.left
		%div.pad
			%div.control.top
				%div.arrow
			%div.control.left
				%div.arrow
			%div.control.right
				%div.arrow
			%div.control.bottom
				%div.arrow
			%div.control.middle
	%div.middle
		%div.logo
		%div.logo.clone
		%div.title
		%button.select
		%button.start
	%div.right
		%div.circle
			%div.group-1
				%button.green
				%button.blue
			%div.group-2
				%button.yellow
				%button.red